@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply transition-colors duration-300;
}

html {
  --scroll-behavior: smooth !important;
  scroll-behavior: smooth !important;
}

:root {
  --background: #f1f5f9;
  --foreground: #f1f5f9;
}

.half-bg-effect-orange {
  @apply inline text-black/90;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.973) 0%,
    rgba(255, 255, 255, 0) 70%,
    rgba(255, 191, 14, 0.5) 70%,
    rgba(255, 127, 15, 0.5) 100%
  );
}
